# Some indirect dependencies are added here in order to keep the `tox -e deps`
# produce same output when run on both linux and macos.
ansible-core>=2.12
ansible-lint>=5.3.1
distro  # indirect
hcloud # indirect
molecule>=3.5.2
molecule-docker>=1.1.0
molecule-podman>=1.1.0
molecule-hetznercloud>=1.3.0
selinux  # indirect
yamllint>=1.26.3
